### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Custom ###
src/ai_tasks/
src/cohort23/
src/cohort_49_1/
src/cohort_52_2/
src/homeworks/
src/Lesson_01/
src/Lesson_15/
src/lesson_16/
src/MyProjects/
src/exportToHTML/HomeWork_03/
Java Tasks/.idea/
exportToHTML/
Java Tasks/Java Tasks.iml/

/src/AID/
/src/library/
/src/ai_tasks_gpt/
